* {
	background	: white;
	padding		: 0;
	font-style	: italic;
	font-family	: Verdana, serif; 
	width		: auto;
	margin		: 0;
}

nav {
  	margin		: 0;
  	position	: sticky;
  	padding		: 35px;
  	color		: white;
  	font-style	: normal;
  	text-transform	: uppercase;
  	opacity		: 0.95;
/*  	background	: url("/home/hemanth/Page/917804.jpg") no-repeat center center; */
/*  	min-height	: 350px; */
  	overflow	: hidden;
}

.navigation-container {
	margin-left	: auto;
	margin-right	: auto;
  	position	: sticky;
  	display		: flex;
  	background-color: rgba(0, 0, 0, 0.9);
  	width		: 75%;
  	padding		: 15px;
  	justify-content	: space-between;
  	border-radius	: 10px;
	opacity		: 0.75;
}

.navigation-left, .navigation-right {
  	display		: flex;
  	justify-content	: space-between;
  	min-height	: 22px;
  	background-color: transparent;
	color		: white;
}

.navigation-item {
	margin-left	: 20px;
	background-color: transparent;
/*	margin		: 15px 15px 0px 0px; */
}

a {
	text-decoration	: none;
	color		: inherit;
	background-color: transparent;
}

p {
  	margin-bottom	: 10pt;
	margin-top	: 10pt;
}

.main-body {
	width		: 75%;
	margin-left	: auto;
	margin-right	: auto;	
}

.profile-container {
  	display		: flex;
  	justify-content	: space-between;
/*  	width		: inherit; */
  	text-align	: justify;
  	margin-left	: auto;
	margin-right	: auto; 
  	line-height	: 25px;
  	align-items	: center;
  	padding		: 15px;
	border-bottom	: 0.5px solid silver;
}

.profile-picture {
  	align-items	: center;
  	text-align	: center;
}

.profile-description {
  	margin-left	: 30px;
  	align-items	: center;
}

.research-container {
	margin-top	: 10pt;
	margin-bottom	: 10pt;
	padding		: 15px;
	border-bottom	: 0.5px solid silver;
}

.research-slides {
	display		: flex;
	width		: inherit;
	align-items	: center;
	margin-top	: 25px;
	margin-left	: auto;
	margin-right	: auto;
	min-height	: 500px;
	justify-content	: space-between;
}

.research-toc {
	align-items	: center;
	text-align	: center;
	font-weight	: bold;
}

.research-description-small {
	text-align	: justify;
	width		: 90%;
	margin-left	: 25px;
	opacity		: 0.75;
	line-height	: 25px;
}

.research-description-small > h3 {
	margin-bottom	: 10px;
}

/* Fading animation */
.fade {
  	animation-name	: fade;
  	animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.publication-container {
  	text-align	: justify;
  	margin		: auto;
  	line-height	: 25px;
  	align-items	: center;
  	margin-top	: 15pt;
  	padding		: 15px;
  	border-bottom	: 0.5px solid silver;
}

.publication-item {
  	width		: 75%;
  	padding		: 15px;
  	display		: flex;
  	align-items	: center;
  	border-width	: thin;
  	text-align	: left;
}

.publication-name {
  	margin-left	: 25px;
}

.conferences-container {
  	text-align	: justify;
  	margin		: auto;
  	line-height	: 25px;
  	align-items	: center;
  	margin-top	: 15pt;
 	padding		: 15px;
  	border-bottom	: 0.5px solid silver;
}

.conferences-item {
  	padding		: 15px;
  	display		: flex;
  	align-items	: center;
  	border-width	: thin;
  	text-align	: left;
}

.contact-container {
  	text-align	: justify;
  	margin		: auto;
  	line-height	: 25px;
  	align-items	: center;
  	margin-top	: 15pt;
  	padding		: 15px;
  	border-bottom	: 1px solid silver;
}

footer {
	width		: 75%;
	margin-left	: auto;
	margin-right	: auto;
  	display		: flex;
  	position	: static;
  	flex		: 0 0 100px;
  	margin-top	: auto;
  	align-items	: center;
  	justify-content	: space-between;
  	padding		: 35px;
  	line-height	: 20pt;
  	overflow	: hidden;
}

.footer-left-container {
  /* width: 33%; */
  	margin-left	: auto;
  	margin-right	: auto;
}

.footer-right-container {
  /* width: 33%; */
  	margin-left	: auto;
  	margin-right	: auto;
  	align-items	: center;
}

.footer-middle-container {
  /* width: 33%; */
  	display		: flex;
  	margin-left	: auto;
  	margin-right	: auto;
  	align-items	: center;
}

.announcement-container {
	width		: 50%;
	margin-left	: auto;
	margin-right	: auto;
	padding		: 15px;
	font-weight	: bold;
	text-align	: justify;
}

.announcement-container >p {
        -moz-animation	: marquee 10s linear infinite;
        -webkit-animation: marquee 10s linear infinite;
        animation	: marquee 10s linear infinite;
}

@-moz-keyframes marquee {
        25% {
          transform	: translateX(25%);
        }
        50% {
          transform	: translateX(-25%);
        }
}

@-webkit-keyframes marquee {
        25% {
          transform	: translateX(25%);
        }
        50% {
          transform	: translateX(-25%);
        }
}

@keyframes marquee {
        25% {
          -moz-transform: translateX(25%);
          -webkit-transform: translateX(25%);
          transform	: translateX(25%)
        }
        50% {
          -moz-transform: translateX(-25%);
          -webkit-transform: translateX(-25%);
          transform	: translateX(-25%);
        }
}
