body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  display: flex;
  flex: 0 0 35px;
}

.navigation_container{
  position: static;
  top:0;
  display: flex;
  justify-content: space-between;
  padding: 35px;
}

.left_nav{
  display: flex;
}

.nav_link_container {
  margin-right: 20px;
  height: 22px;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.nav_link_container a{
  color: gray;
  text-decoration: none;
  transition: color 0.5s;
}

.nav_link_container:hover{
  border-bottom: 2px solid black;
  transition: border-bottom 0.5s;
}

.nav_link_container a:hover{
  color: black;
}

.nav_link_container a:active{
  color: black;
}

.right_nav .logo {
  color:gray;
  font-weight: normal;
}

main {
  background-color: white;
  /* height: 100vh; */
}

.body_container {
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.place_holder {
  margin-left: auto;
  margin-right: auto;
}

.place_holder img {
  padding: 15px;
  width: 250px;
  height: 100%;
}

.body_container .about_container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 15px;
  width: 40%;
  /* margin-left: auto; */
  margin-right: auto;
  text-align: justify;
  line-height: 20pt;
}

.contact {
  margin-top: 15px;
  width: 35%;
  /* background-color: gainsboro; */
}

.contact_info {
  display: flex;
  padding: 15px;
  margin-top: 5px;
  width:50%;
  background-color: gainsboro;
}

.pholder {
  border-radius: 25pt;
  width:25%;
  text-align: center;
  background-color: whitesmoke;
}

.mail {
  margin-left: 22px;
}

.bullentin_boards_container {
  /* margin-top: 50px; */
  min-height: 15vh;
  background-color: black;
}

.bullentin_board_container {
  margin: auto;
  text-align: center;
  padding: 25px;
  color: white;
}

.bullentin_board {
  font-family: "Sofia";
  font-size: 20pt;
}

.bullentin_info {
  padding: 10px;
  /* font-size: 18px; */
}

.biosketch_container .biosketch_head {
  font-family: "Sofia";
  font-size:25px;
  margin-bottom: 15pt;
}

.body_container .biosketch_container {
  padding: 15px;
  width: 40%;
  margin-right: auto;
  text-align: justify;
  line-height: 20pt;
}

.cv_link {
  color: gray;
}

.qoutation_container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: mediumslateblue;
  font-family: "Sofia";
  font-size: 20px;
}

footer {
  display: flex;
  flex: 0 0 35px;
  margin-top: auto;
  /* background-color: lightgray; */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer_container {
  background-color: mediumslateblue;
  bottom: 0;
  display: flex;
}

.footer_container .info {
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer_container .media {
  padding: 15px;
  color: inherit;
  float: right;
}

.fa-facebook {
  margin-right: 15px;
}

.fa-instagram {
  margin-right: 15px;
}

@media only screen and (max-width : 1260px) {
  .contact {
    visibility: hidden;
  }
  .contact_info {
    visibility: hidden;
  }

  .place_holder {
    visibility: hidden;
  }

  .body_container .about_container {
    box-shadow: none;
    width: 100%;
  }

  .body_container .biosketch_container {
    box-shadow: none;
    width: 100%;
  }
}
